{{- $siteURL := strings.TrimSuffix "/" .Site.BaseURL -}}
{{- $desc := .Description | default .Site.Params.description | plainify | truncate 160 -}}
{{- $imageURL := (.Site.Params.heroPhoto | default "/images/arun-profile.jpg" | strings.TrimPrefix "/" | absURL) -}}

{{- $graph := slice -}}

{{- $sameAs := slice -}}
{{- with .Site.Params.youtubeURL -}}
  {{- $sameAs = $sameAs | append . -}}
{{- end -}}

{{- $person := dict
  "@type" "Person"
  "@id" (printf "%s/#person" $siteURL)
  "name" .Site.Params.author
  "jobTitle" "Carrom Coach"
  "description" (.Site.Params.description | plainify)
  "image" $imageURL
  "url" $siteURL
-}}
{{- if $sameAs -}}
  {{- $person = merge $person (dict "sameAs" $sameAs) -}}
{{- end -}}
{{- $graph = $graph | append $person -}}

{{- $langs := slice -}}
{{- range site.Languages -}}
  {{- $langs = $langs | append .Lang -}}
{{- end -}}

{{- $website := dict
  "@type" "WebSite"
  "@id" (printf "%s/#website" $siteURL)
  "name" .Site.Title
  "url" $siteURL
  "description" (.Site.Params.description | plainify)
  "publisher" (dict "@id" (printf "%s/#person" $siteURL))
  "inLanguage" $langs
-}}
{{- $graph = $graph | append $website -}}

{{- $webpage := dict
  "@type" "WebPage"
  "@id" (printf "%s#webpage" .Permalink)
  "url" .Permalink
  "name" (cond .IsHome .Site.Title .Title)
  "description" $desc
  "isPartOf" (dict "@id" (printf "%s/#website" $siteURL))
  "inLanguage" (.Site.Language.Lang)
-}}
{{- if .IsHome -}}
  {{- $webpage = merge $webpage (dict "about" (dict "@id" (printf "%s/#person" $siteURL))) -}}
{{- end -}}
{{- $graph = $graph | append $webpage -}}

{{- if eq .Layout "contact" -}}
  {{- $contact := dict
    "@type" "ContactPage"
    "name" .Title
    "description" $desc
    "url" .Permalink
    "inLanguage" (.Site.Language.Lang)
    "isPartOf" (dict "@id" (printf "%s/#website" $siteURL))
  -}}
  {{- with .Params.email -}}
    {{- $contact = merge $contact (dict "email" .) -}}
  {{- end -}}
  {{- with .Params.phone -}}
    {{- $contact = merge $contact (dict "telephone" .) -}}
  {{- end -}}
  {{- with .Params.location -}}
    {{- $contact = merge $contact (dict "address" (dict "@type" "PostalAddress" "addressLocality" .)) -}}
  {{- end -}}
  {{- $graph = $graph | append $contact -}}
{{- else if eq .File.ContentBaseName "about" -}}
  {{- $profile := dict
    "@type" "ProfilePage"
    "name" .Title
    "description" $desc
    "url" .Permalink
    "inLanguage" (.Site.Language.Lang)
    "isPartOf" (dict "@id" (printf "%s/#website" $siteURL))
    "mainEntity" (dict "@id" (printf "%s/#person" $siteURL))
  -}}
  {{- $graph = $graph | append $profile -}}
{{- end -}}

{{- if and (not .IsHome) (ne .Kind "home") -}}
  {{- $crumbs := slice -}}
  {{- $pos := 1 -}}
  {{- $crumbs = $crumbs | append (dict
    "@type" "ListItem"
    "position" $pos
    "name" "Home"
    "item" .Site.Home.Permalink
  ) -}}
  {{- $pos = add $pos 1 -}}
  {{- if and .Section (ne .Section .Type) -}}
    {{- with .Site.GetPage "section" .Section -}}
      {{- $crumbs = $crumbs | append (dict
        "@type" "ListItem"
        "position" $pos
        "name" .Title
        "item" .Permalink
      ) -}}
      {{- $pos = add $pos 1 -}}
    {{- end -}}
  {{- else if .Section -}}
    {{- with .Site.GetPage "section" .Section -}}
      {{- if not (eq .Permalink $.Permalink) -}}
        {{- $crumbs = $crumbs | append (dict
          "@type" "ListItem"
          "position" $pos
          "name" .Title
          "item" .Permalink
        ) -}}
        {{- $pos = add $pos 1 -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
  {{- if and (eq .Section "books") (.Parent.Params.chapters | default false) -}}
    {{- $crumbs = $crumbs | append (dict
      "@type" "ListItem"
      "position" $pos
      "name" .Parent.Title
      "item" .Parent.Permalink
    ) -}}
    {{- $pos = add $pos 1 -}}
  {{- end -}}
  {{- $crumbs = $crumbs | append (dict
    "@type" "ListItem"
    "position" $pos
    "name" .Title
    "item" .Permalink
  ) -}}
  {{- $graph = $graph | append (dict
    "@type" "BreadcrumbList"
    "@id" (printf "%s#breadcrumb" .Permalink)
    "itemListElement" $crumbs
  ) -}}
{{- end -}}

{{- if and (eq .Section "books") (eq .Kind "page") -}}
  {{- $isChapter := .Parent.Params.chapters | default false -}}
  {{- $authorName := .Params.author | default .Site.Params.author -}}
  {{- if $isChapter -}}
    {{- $chapter := dict
      "@type" "Chapter"
      "name" .Title
      "description" $desc
      "url" .Permalink
      "inLanguage" (.Site.Language.Lang)
      "isPartOf" (dict
        "@type" "Book"
        "name" .Parent.Title
        "url" .Parent.Permalink
      )
    -}}
    {{- $graph = $graph | append $chapter -}}
  {{- else if .Params.chapters -}}
    {{- $book := dict
      "@type" "Book"
      "name" .Title
      "description" $desc
      "author" (dict "@type" "Person" "name" $authorName)
      "url" .Permalink
      "inLanguage" (.Site.Language.Lang)
    -}}
    {{- with .Params.pageCount -}}
      {{- $book = merge $book (dict "numberOfPages" .) -}}
    {{- end -}}
    {{- range hugo.Data.books.books -}}
      {{- if eq .id (path.Base $.RelPermalink) -}}
        {{- with .coverImage -}}
          {{- $book = merge $book (dict "image" (strings.TrimPrefix "/" . | absURL)) -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- $graph = $graph | append $book -}}
  {{- end -}}
{{- end -}}

<script type="application/ld+json">
{{- dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS -}}
</script>
